<!--The content below is only a placeholder and can be replaced.-->
<h1>Angular Router - AG Grid</h1>
<h2>https://www.ag-grid.com/angular-grid/</h2>
<div>
  <nav>
    <div style="border: 1px black solid;padding:10px;">
    <a routerLink="/crud-read-list" routerLinkActive="active">Crud read a list </a>
    </div>
  <div style="border: 1px black solid;padding:10px;">
    <a routerLink="/crud-read-get" routerLinkActive="active">Crud read get one</a>
    </div>
  <div style="border: 1px black solid;padding:10px;">
    <a routerLink="/crud-create" routerLinkActive="active">Crud create </a>
    <button (click)="setCarsProviderMockoon()" style="margin: 0px 10px;">Create</button>
  </div>
  <div style="border: 1px black solid;padding:10px;margin-bottom: 20px;">
    <a routerLink="/crud-update" routerLinkActive="active">Crud Udpdate</a>
    <button (click)="setCarsProviderMyJsonApi()" style="margin-left:10px">Update</button>
  </div>
  <div style="border: 1px black solid;padding:10px;margin-bottom: 20px;">
    <a routerLink="/crud-delete" routerLinkActive="active">Crud - Delete </a>
    <button (click)="setCarsProviderMockoon()" style="margin: 0px 10px;">Delete</button>
  </div>
  </nav>
</div>
<router-outlet></router-outlet>


